.faq{
border: 1px dotted;
height:100%;
margin-top:10px;
padding:5px;
font-family:Verdana;
}

#faq h1{
font-size:11px;
}
#faq_part .faq_item{
margin-bottom:30px;
padding:5px;
border:1px dotted #CCC;
}

#faq_item .faq_quest{
padding:5px;
font-weight:bold;
border-bottom:1px dotted #ccc;
}

#faq_item .faq_answer{
margin-top:5px;
padding:5px;
}

#faq_parts #part a{
border-bottom:1px dotted #ccc;
color:#000;
}
#faq_parts .part{
margin-bottom:5px;
margin-left:10px;
}
#faq_part #back_to_parts a{
margin-bottom:5px;
margin-left:10px;
border-bottom:1px dotted #ccc;
color:#000;
}
.back_to_parts{
text-align:right;
}
#faq_part h1{
margin-left:10px;
}
#back_to_parts .make_q{
border-bottom:1px dotted #ccc;
width:100px;
cursor:pointer;
color:#000;
}

