<div id="closewrap" class="closewrap">
<span class="closebt" id="closebt">закрыть</span>
</div>
<form id="ffqf" class="ffqf">
<div id="fqan" class="field_name">Автор</div>
	<input fldttlid="fqan"  class="req field faq_question_author_name" type="text" name="faq_question_author_name" value="">
<div id="fqae" class="field_name">e-mail</div>
	<input fldttlid="fqae"  class="req field faq_question_author_email" type="text" name="faq_question_author_email" value="">
<div id="fq" class="field_name">Вопрос</div>
	<textarea fldttlid="fq"  class="req field faq_question" name="faq_question"></textarea><br>
<input type="hidden" name="faq_part_id" value="{__faq_part_id__}">
<input type="button" id="sbbt" class="sbbt" value="Задать вопрос">
</form>
