.trunc_menu{
min-width:200px;
padding:0px 10px;
color:#666;
}

#trunc_menu a{
color:#666;
white-space:nowrap;
}

.top_menu{
padding:10px;
font-weight:bold;
border:1px dotted #CCC;
background:#CCC;
}

#top_menu a{
color:#FFF;
}

.sub_menu{
}

.sub_menu UL{
	margin:0px;
	padding:0px;
	list-style:none;
}

.sub_menu UL LI{
	margin:0px;
	padding:0px;
	padding-left: 10px;
}

.sub_menu UL LI A{
	color:#666;
}

.sub_menu UL LI A.active{
	text-decoration:underline;
}
