<div class="registr" id="registr">
	<h1>Регистрация</h1>
<div id="report" class="report"></div>
<div id="errortext" class="errortext"></div>
<form id="regform">
	<div id="title_name" class="field_name">Имя:</div><span><input fldttlid="title_name"  class="req field name" id="name" type="Text" name="name" value="" title="name"> </span><br>
	<div id="title_email" class="field_name">E-mail:</div> <input fldttlid="title_email"  class="req field email" id="email" type="Text" value="" name="email" title="e-mail"></span><br>
	<div id="title_passwd"  class="field_name">Пароль:</div> <input fldttlid="title_passwd" class="req field passwd " id="passwd" type="password" value="" name="passwd" title="passwd"></span><br>
	<div id="title_passwd2" class="field_name">Повтор пароля:</div> <input fldttlid="title_passwd2" class="req field passwd2" id="passwd2" type="password" value="" name="passwd2" title="e-mail"></span><br>
	<div   class="field_name">&nbsp;</div><input type="button" class="submbutt" id="submbutt"   value="Продолжить">
</form>
</div>
