<div class="registr" id="registr">
	<h1>Регистрация</h1>
<div id="report" class="report"></div>
<div id="errortext" class="errortext"></div>
<form id="regform">
	<div id="title_email" class="field_name">E-mail:</div> <input fldttlid="title_email"  class="req field email" id="email" type="Text" value="" name="email" title="e-mail"><br>
	<div id="title_passwd"  class="field_name">Пароль:</div> <input fldttlid="title_passwd" class="req field passwd " id="passwd" type="password" value="" name="passwd" title="passwd"><br>
	<div id="title_passwd2" class="field_name">Повтор пароля:</div> <input fldttlid="title_passwd2" class="req field passwd2" id="passwd2" type="password" value="" name="passwd2" title="e-mail"><br>
	<div id="title_lname" class="field_name">Фамилия:</div><input fldttlid="title_lname"  class="req field lname" id="lname" type="Text" name="lname" value="" title="lname"> <br>
	<div id="title_name" class="field_name">Имя:</div><input fldttlid="title_name"  class="req field name" id="name" type="Text" name="name" value="" title="name"> <br>
	<div id="title_mname" class="field_name">Отчество:</div><input fldttlid="title_mname"  class="field mname" id="mname" type="Text" name="mname" value="" title="mname"> <br>
	<div id="title_clnt_country" class="field_name">Страна:</div>
	<select fldttlid="title_clnt_country"  class="req field clnt_country" id="clnt_country" type="Text" name="clnt_country" value="" title="clnt_country"> 
		<option value="">Выбрать</option>
		{__(apply(/cntrys)__}
		    <option value="{__id__}">{__(if($title != '')__}{__title__}{__else__}{__title_eng__}{__if)__}</option>
		{__apply)__}
	</select>
	<br>
	<div id="title_clnt_region" class="field_name">Регион:</div>
	<div id="reg_wrap">
</div>	<select fldttlid="title_clnt_region"  class="req field clnt_region" id="clnt_region" name="clnt_region"  title="clnt_region"> 
		<option value="">Выбрать</option>
	</select><br>
	<div id="ee" class="ee"></div>
	<div id="title_clnt_region_custom" class="field_name">Другой регион:</div><input fldttlid="title_clnt_region_custom"  class="field clnt_region_custom" id="clnt_region_custom" type="Text" name="clnt_region_custom" value="" title="clnt_region_custom"><br>
	<div id="title_clnt_nas_punkt" class="field_name">Город/Населенный пункт:</div><input fldttlid="title_clnt_nas_punkt"  class="req field clnt_nas_punkt" id="clnt_nas_punkt" type="Text" name="clnt_nas_punkt" value="" title="clnt_nas_punkt"> <br><br>
	<div id="title_clnt_address" class="field_name">Адрес:</div><textarea fldttlid="title_clnt_address"  class="req field clnt_address" id="clnt_address"  name="clnt_address"  title="clnt_address"></textarea> <br>

	<div id="title_clnt_phone" class="field_name">Телефон:</div><input fldttlid="title_clnt_phone"  class="req field clnt_phone" id="clnt_phone" type="Text" name="clnt_phone" value="" title="clnt_phone"> <br><br>
	<div id="title_clnt_payment_pref" class="field_name">Предпочтительный <br>способ оплаты:</div> 
	<select fldttlid="title_clnt_payment_pref"  class="req field clnt_payment_pref" id="clnt_payment_pref" type="Text" name="clnt_payment_pref" value="" title="clnt_payment_pref"> 
		<option value="">Выбрать</option>
		{__(apply(/payvar)__}
		<option value="{__id__}">{__title__}</option>
		{__apply)__}
	</select><br><br>

	<div id="title_clnt_payment_curr" class="field_name">Валюта:</div> 
	<select fldttlid="title_clnt_payment_curr"  class="req field clnt_payment_curr" id="clnt_payment_curr" type="Text" name="clnt_payment_curr" value="" title="clnt_payment_curr"> 
		<option value="">Выбрать</option>
		{__(apply(/currencys)__}
			<option value="{__id__}">{__title__}</option>
		{__apply)__}
	</select><br>
	<div   class="field_name">&nbsp;</div><input type="button" class="submbutt" id="submbutt"   value="Продолжить">
</form>
</div>
