.registr{
font-family:Verdana;
font-size:11px;
margin-top:20px;
border:1px dotted;
height:100%;
padding:10px;
}
#registr a{
border-bottom: 1px dashed;
color:#000;
}

#registr h1{
font-size:12px;
}

#regform .submbutt{
margin:20px 0px;
}


#regform .field_name{
width:150px;
position:relative;
float:left;
color:#000;
}


#regform .field_name_error{
width:150px;
position:relative;
float:left;
color:#F00;
}

#regform .field_error{
background-color:#FFDAb9;
border:1px solid #ccc;
margin:3px;
}

#regform .field{
background-color:#FFF;
border:1px solid #ccc;
margin:3px;
}

#registr .errortext{
color:#F00;
margin-bottom:10px;
}

#registr .report{
margin-bottom:10px;
}

#registr .spinner{
background-image:url("/images/large-loading.gif");
background-position:center;
background-repeat:no-repeat;
background-color:#FFF;
position:fixed;
width:120px;
height:65px;
border:1px dotted #000;
padding:5px;
text-align:center;
margin-left:auto;
margin-right:auto;
top:+100px;
}



#regform .clnt_address
{
height:50px;
width:300px;
}

.registrwrap{
}

#registrwrap .regherelink{
border-bottom: 1px dashed;
cursor:pointer;
}



/*!
 * Ext.ux.AlertBox
 * http://www.artalat.com/
 */


#AlertBox{
    background:#F5F5DC;
    padding: 20px;
    width:500px;
    border:1px dotted #000;
    color:#494848;
    font-family:Verdana;
    position: fixed;
    z-index: 1000000;
}

#AlertBox p{
    font-size:11px;
    margin: 0;
}

#AlertBox p.icon{
    padding-left:90px;
    background-position: 10px center;
    background-repeat:  no-repeat;
    min-height: 48px;
}


#AlertBox p b{
    font-size:15px;
    display:block;
}


#AlertBox .closeBox{
    cursor:pointer;
    font-size:14px;
    font-weight:bold;
    padding:2px 5px;
    position:absolute;
    right:6px;
    top:5px;
}

#AlertBox .closeBox:hover {
    background-color: #eee;
}
