<div class="www_response">
	<div class="left_side">
		<img src="/themes/intk/img/otzivy_add.png"/>
	</div>
	<div class="right_side">
		{__set(#root = /records[id == 1])__}
		<ul class="response_list">
		{__apply(/records[left > #root/left AND right < #root/right AND level == 2])__}
		</ul>
	</div>
</div>
{__(template(/records)__}
	<li class="comment">
		<div class="date">{__text::mysql_date_format($created_datetime, 'H:i, d F Y')__}</div>
		<div class="name">{__name__}</div>
		<div class="email">{__email__}</div>
		<div class="comment">{__comment__}</div>
		{__(if($left + 1 < $right)__}
			{__set(#level = $level + 1)__}
			<ul class="answer">
			{__apply(/records[left > $left AND right < $right AND level == #level])__}
			</ul>
		{__if)__}
	</li>
{__template)__}
