<div class="www_response_form">
	<form id="www_response_form" method="post" action="submit/">
		<input type="hidden" name="pid"/>
		<div class="field">
			<label for="name">Имя:</label>
			<input type="text" name="name" value="" req=""/>
		</div>
		<div class="field">
			<label for="name">email:</label>
			<input type="text" name="email" value="" req=""/>
		</div>
		<div class="field">
			<label for="name">Комментарий:</label>
			<textarea name="comment"></textarea>
		</div>
		<button type="submit">Отправить</button>
	</form>
</div>
