<div id="closewrap" class="closewrap">
<span class="closebt" id="closebt">закрыть</span>
</div>

<form name="ffqf" id="ffqf" class="ffqf">
	<div id="tgan" class="field_name"> e-mail</div> 
		<input fldttlid="tgan"  class="req field email" type="text" id="email" title="Ваше имя" value="{__email__}" name="email">
	{__(apply(/records)__}
	<div id="ts{__id__}" class="field_name"> {__name__}</div> 
		<select fldttld="ts{__id__}" name="subscr_{__id__}" class="field subscr_{__id__}" title="subscr">
			<option value=""></option>
			<option value="1">Подписаться</option>
			<option value="2">Отписаться</option>
		</select><br>
	{__apply)__}
	<input type="button" id="sbbt" class="sbbt" value="Отправить">
</form>
