	<table class="columns">
		<tr>
			<th>
				<div class="functions">
					<a href="#" class="add-container"><img src="/themes/helix_back/images/icons/container.png" alt="" /> Контейнер</a>
					<a href="#" class="add-note"><img src="/themes/helix_back/images/icons/note.png" alt="" /> Заметка</a>
					<div class="clearfix"></div>
				</div>
				
				<div class="add-new">
					<a href="#"><img src="/themes/helix_back/images/icons/new-author.png" alt="" /> <span>Новый автор</span></a>
				</div>
				
				<div class="users">
					{__(apply(/authors)__}
						<div class="user" aid={__id__} >
							{__(if($preview !='')__}
							<img src="{__/path_to_storage__}thumb-{__preview__}" alt="" />
							{__else__}
							<img src="/themes/helix_back/images/temp/avatar.gif" alt="" />
							{__if)__}
							<p class="name">{__title__}</p>
							<p class="rank">{__rang__}</p>
						</div>
					{__apply)__}
				</div>
			</th>
		{__(apply(/columns)__}
			<td class="{__(if($colmn==1)__}first-col{__if)__}{__(if($colmn==2)__}second-col{__if)__}{__(if($colmn==3)__}third-col{__if)__} empty" clmn=$colmn cid="{__id__}">
						{__(apply($childs)__}
							{__(if($type == 3)__}
								<div class="tmp-container {__(if(!(count($childs)>0))__}empty-tmp-container{__if)__} ui-droppable" cid={__id__}>
									<div class="close" onclick="h_job_p.remove_block($(this));"></div>
									<em onclick="switchInput($(this));">{__title__}</em>
									<input type="text" name="title" value="{__title__}">
									{__(apply($childs)__}
										<p cid={__id__}>{__title__}</p>
									{__apply)__}
								</div>
							{__if)__}
							{__(if($type == 4)__}
								<div class="tmp-note {__(if($content == '')__}empty-tmp-container{__if)__} ui-droppable" cid={__id__}>
								<div class="close" onclick="h_job_p.remove_block($(this));"></div>
								<em onclick="switchInput($(this));">{__content__}</em>
								<textarea type="text" name="content">{__content__}</textarea>
								</div>
							{__if)__}

						{__apply)__}
			</td>
			{__apply)__}
			<!--
			<td class="second-col empty" clmn=2 nid="{__nid_1__}">
			</td>
			<td class="third-col empty"i clmn=3 nid="{__nid_1__}">
			</td>
			-->
		</tr>
	</table>

