		<ul class="offices_list">
		{__(apply(/records)__}
			<li>
			{__title__}
			{__(if($addr)__}
				<p>{__addr__}</p>
			{__if)__}
			{__(if($postaddr)__}
				<p>{__postaddr__}</p>
			{__if)__}
			{__(if($work_time)__}
				<strong>График работы:</strong><br>
					{__work_time__}
				
			{__if)__}
			{__(if($phones)__}
					{__phones__}
			{__if)__}
			{__(if($email)__}
				<p>
					{__email__}
				</p>
			{__if)__}
			{__(if($site)__}
				<p>
					{__site__}
				</p>
			{__if)__}
				{__content__}
				{__map__}
			</li>
		{__apply)__}
		</ul>
