<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="application/html; charset=utf-8" />
	<meta name="keywords" content="{__keywords__}">
	<meta name="description" content="{__description__}">
	<link href="/min/?z={__css_hash__}" rel="stylesheet" type="text/css" />
	<script src="/min/?z={__js_hash__}"  type="text/javascript"></script>
	<title>{__title__}</title>
	{__(apply(/view_point_0)__}
		{__echo($.)__}
	{__apply)__}

</head>

<body>
<div class="bdy" id="bdy">
	<div class="bdy_wrap" class="bdy_wrap">
		<div class="top_area" id="top_area">
			<div class="dsc">#default kernel template set</div>
				<div class="view_point_5" id="view_point_5">
					{__(apply(/view_point_5)__}
						{__echo($.)__}
					{__apply)__}
				</div>
		</div>

		<div class="view_point_1" id="view_point_1">
			{__(apply(/view_point_1)__}
				{__echo($.)__}
			{__apply)__}
		</div>
		<div class="level2" id="level2">
			<div class="view_point_6" id="view_point_6">
			{__(apply(/view_point_6)__}
				{__echo($.)__}
			{__apply)__}
			</div>	
		</div>	
		<div class="left_area" id="left_area">
			<div class="view_point_2" id="view_point_2">
				{__(apply(/view_point_2)__}
					{__echo($.)__}
				{__apply)__}
			</div>
		</div>
		<div class="center_area" id="center_area">
			<div class="view_point_33" id="view_point_33">
				{__(apply(/view_point_33)__}
					{__echo($.)__}
				{__apply)__}
			</div>
			<div class="view_point_3" id="view_point_3">
				{__(apply(/view_point_3)__}
					{__echo($.)__}
				{__apply)__}
			</div>
		</div>
		<div class="right_area" id="right_area">
			<div class="view_point_7" id="view_point_7">
				{__(apply(/view_point_7)__}
					{__echo($.)__}
				{__apply)__}
			</div>
			<div class="view_point_4" id="view_point_4">
				{__(apply(/view_point_4)__}
					{__echo($.)__}
				{__apply)__}
			</div>
		</div>
		<div class="bottom_area" id="bottom_area">
			<div>WEB50 LLC 2010. all rights reserved.</div>
		</div>
	</div>
</div>

</body>
</html>
