	<div id="od" class="od">
	<h1>Заказы</h1>
	{__(apply(/records)__}
	<div id="item" class="item">
		<div id="f_c" class="f_c"><span class="cpda" id="cpda" cid="{__id__}"> Детально </span></div>
		<div class="f_t">ID : </div><span>{__id__}</span><br>
		<div class="f_t">Дата: </div><span>{__php::date('d.m.Y H:m',strtotime($created_datetime))__}</span><br>
		<div class="f_t">Товаров: </div><span>{__total_items__}</span><br>
		<div class="f_t">На сумму: </div><span>{__total_items_cost__}</span><br>
		<div class="f_t">Способ оплаты: </div><span>{__pt_string__}</span><br>
		<div class="f_t">Статус заказа: </div><span>{__status_str__}</span><br>
	</div>
	{__apply)__}
	</div>
