<div id="closewrap" class="closewrap">
<span class="closebt" id="closebt">закрыть</span>
</div>

<form name="ffqf" id="ffqf" class="ffqf">
	<div id="tgan" class="field_name"> Старый пароль</div> 
		<input fldttlid="tgan"  class="req field oldp" type="password" id="oldp" value="" name="oldp">
	<div id="np" class="field_name"> Новый пароль</div> 
		<input fldttlid="np"  class="req field newp" type="password" id="newp" value="" name="newp">
	<div id="np2" class="field_name"> Новый пароль повтор</div> 
		<input fldttlid="np2"  class="req field newp2" type="password" id="newp2" value="" name="newp2">
	<input type="button" id="sbbt" class="sbbt" value="Отправить">
</form>
