<head>
	<meta http-equiv="Content-Type" content="application/html; charset=utf-8" />
	<link href="/min/?f={__(apply(/css_resources)__}/{__echo($.)__}{__(if(@position != @last)__},{__if)__}{__apply)__}&debug=1" rel="stylesheet" type="text/css" />
	<script src="/min/?g=core" type="text/javascript"></script>
	<script src="/min/?f={__(apply(/js_resources)__}/{__echo($.)__}{__(if(@position != @last)__},{__if)__}{__apply)__}&debug=1"  type="text/javascript"></script>
	<title>{__title__}</title>
</head>

<body>
<div class="bdy_wrap" class="bdy_wrap">
	<div class="action_page" id="action_page">
		<h1>Внимание</h1>
		<div class="msg" id="msg">{__action_msg__}</div>
		{__(if(/action_redirect)__}
		<p>Для продолжения вы будете автоматически перенаправлены. Либо вы можете воспользоваться ссылкой ниже.</p>
		<div class="link" id="link"><a href="{__action_redirect__}">Продолжить</a></div>
		{__if)__}
	</div>
</div>
</body>
