<div class="wizard wizard2 avik" id="inline4">
	<div class="global_values">
		<input type="hidden" name="hidden_one" value="1">
		<input type="hidden" name="cart_json" value="">
	</div>
	<div id="step1" class="wizard_step" data-nextstep="">
			<h3 style="margin-left: 220px;margin-bottom: 5px; margin-top: 5px;">Откликнуться на вакансию</h3>
		<table class="field_block">
			<tr>
				<td class="first_column">
					<span class="field_label">ФИО</span>
				</td>
				<td>	
					<input class="req" type="text" name="person" value="">
				</td>

			</tr>
		</table>
		<table class="field_block">
			<tr>
				<td class="first_column">
					<span class="field_label">Телефон</span>
				</td>
				<td>	
					<input type="text" name="phone" value="">
				</td>

			</tr>
		</table>

		<table class="field_block">
			<tr>
				<td class="first_column">
					<span class="field_label">Ваш E-mail</span>
				</td>
				<td>	
					<input class="req" type="text" data-type="email" name="email" value="">
				</td>

			</tr>
		</table>


		<table class="field_block">
			<tr>
				<td class="first_column">
					<span class="field_label">Интересующая вакансия</span>
				</td>
				<td>	
					<textarea type="text" class="req" style="height: 200px" name="description"></textarea>
				</td>

			</tr>
		</table>
		<div class="fup">Прикрепить резюме</div>
		<table class="field_block" style="visibility:hidden;position:absolute;">
			<tr>
				<td class="first_column">
				</td>
				<td>
					<input type="file" name="file" id="rec_file">
				</td>

			</tr>
		</table>

		<div style="clear:both"></div>
		<table class="btn_bar">
			<tr>
				<td>
					<div class="btn_submit">Отправить</div>
				</td>
			</tr>
		</table>
	</div>
</div>
