{__(if(/type == 1)__}
	<a href="{__link__}" target="{__target__}" title="{__title__}"><img src="{__path__}{__real_name__}" width="{__width__}" heigh="{__height__}" border="0"/></a>
{__elseif(/type == 2)__}
<object width="{__width__}" height="{__height__}" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
	<param name="wmode" value="opaque"/>
	<param name="quality" value="high"/>
	<param name="movie" value="{__path__}{__real_name__}"/>
	<embed width="{__width__}" height="{__height__}" wmode="opaque" type="application/x-shockwave-flash" src="{__path__}{__real_name__}" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" embed="">
</object>
{__if)__}
