<div id="closewrap" class="closewrap">
<span class="closebt" id="closebt">закрыть</span>
</div>

<form name="guestbook_form" id="guestbook_form" class="guetbook_form">
	<div id="tgan" class="field_name"> Ваше имя</div> 
		<input fldttlid="tgan"  class="req field gb_author_name" type="text" id="gb_author_name" title="Ваше имя" value="" name="gb_author_name">
	<div id="tgae" class="field_name"> Ваш имайл</div>
		<input fldttlid="tgae"  class="req field gb_author_email" type="text" id="gb_author_email" title="Ваше имя" value="" name="gb_author_email">
	<div id="tgal" class="field_name">Ваш город</div>
		<input fldttlid="tgal"  class="req field gb_author_location" type="text" id="gb_author_location" title="Ваше имя" value="" name="gb_author_location">
	<div id="tgr" class="field_name"> Ваше мнение</div> 
		<textarea fldttlid="tgr"  class="req field gb_record" id="gb_record" title="Ваше имя" value="" name="gb_record"></textarea>
	<input type="button" id="sbbt" class="sbbt" value="Отправить">
</form>
