.guestbook{
border:1px dotted;
/*height:100%;*/
padding:20px;
margin-top:10px;
font-family:Verdana;
font-size:11px;
}

#guestbook h1{
font-size:12px;
}

.guestbook_item{
 padding:5px;
 margin-top:10px;
 border-bottom:1px dotted #CCC;
}

.guestbook_item_header{
padding:5px;
font-weight:bold;
}

.guestbook_item_body{
padding:5px;
}

.guestbook_form_record{
width:300px;
height:100px;
}

.error{
color:red;
}

.guestbook_form{
margin-top:50px;
margin-left:20px;
margin-bottom:20px;
}

.nwrecwrp{
text-align:right;
}

#nwrecwrp .newrecord{
border-bottom:1px dotted #ccc;
width:100px;
cursor:pointer;
color:#000;
}
