<div class="wizard avik" id="unique_container_id">
	<div class="global_values">
		<input type="hidden" name="hidden_one" value="1">
		<input type="hidden" name="cart_json" value="">
	</div>
	<div id="step1" class="wizard_step" data-nextstep="">
			<h3 style="margin-left: 150px">Задать вопрос руководству</h3>
		<table class="field_block">
			<tr>
				<td class="first_column">
					<span class="field_label">Имя</span>
				</td>
				<td>	
					<input class="req" type="text" name="fio" value="">
				</td>

			</tr>
		</table>

		<table class="field_block">
			<tr>
				<td class="first_column">
					<span class="field_label">Ваш E-mail</span>
				</td>
				<td>	
					<input class="req" type="text" data-type="email" name="email" value="">
				</td>

			</tr>
		</table>
		<table class="field_block">
			<tr>
				<td class="first_column">
					<span class="field_label">Телефон</span>
				</td>
				<td>	
					<input type="text" name="phone" value="">
				</td>

			</tr>
		</table>


		<table class="field_block">
			<tr>
				<td class="first_column">
					<span class="field_label">Сообщение</span>
				</td>
				<td>	
					<textarea type="text" class="req" style="height: 200px" name="comments"></textarea>
				</td>

			</tr>
		</table>


		<table class="btn_bar">
			<tr>
				<td>
					<img src="/themes/avik/img/order_btn.png" class="btn_submit" alt=""/>
				</td>
			</tr>
		</table>
	</div>
</div>
