<div id="closewrap" class="closewrap">
<span class="closebt" id="closebt">закрыть</span>
</div>

<form name="ffqf" id="ffqf" class="ffqf">

<p>Инструкции по восстановлению пароля будут высланы вам на e-mail / login, указанный вами при регистрации.
Проверте еще раз и нажмите продолжить </p>

	<div id="tgan" class="field_name"> Имя пользователя(e-mail):</div> 
		<input fldttlid="tgan"  class="req field login" type="text" id="login" title="Имя пользователя" value="{__login__}" name="login">
	<input type="button" id="sbbt" class="sbbt" value="Продолжить">
</form>
