.pub_auth{
height:20px;
margin:0px;
padding:4px;
font-family:Verdana;
}

#pub_auth h1{
font-size:11px;
}
#pub_auth .login{
width:60px;
height:12px;
}

#pub_auth .password{
width:60px;
height:12px;
}

#pub_auth .logbut{
width:60px;
height:20px;
font-family:Verdana;
font-size:11px;
}
#pub_auth a{
border-bottom: 1px dashed;
color:#000;
}
#pub_auth form{
margin:0px;
padding:0px;
}
#pub_auth .pswremind{
border-bottom: 1px dashed;
cursor:pointer
}
