.ui-www_person {
  overflow: hidden;
}
.ui-www_person .row {
  display: block;
  float: left;
  font-family: Arial;
  font-size: 12px;
  width: 102px;
  height: 300px;
  text-align: center;
  overflow: hidden;
  margin: 5px;
}
.ui-www_person .row img {
  width: 100px;
  border: 1px solid #666;
  display: block;
}
.ui-www_person .row .descr {
  text-align: left;
}
