#AlertBox{
    background:#F5F5DC;
    padding: 20px;
    width:500px;
    border:1px dotted #000;
    color:#494848;
    font-family:Verdana;
    position: fixed;
    z-index: 1000000;
}

#AlertBox p{
    font-size:11px;
    margin: 0;
}

#AlertBox p.icon{
    padding-left:90px;
    background-position: 10px center;
    background-repeat:  no-repeat;
    min-height: 48px;
}


#AlertBox p b{
    font-size:15px;
    display:block;
}


#AlertBox .closeBox{
    cursor:pointer;
    font-size:14px;
    font-weight:bold;
    padding:2px 5px;
    position:absolute;
    right:6px;
    top:5px;
}

#AlertBox .closeBox:hover {
    background-color: #eee;
}
